.app-header {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    border-bottom: #bcbcbc 1px solid;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: gray;
        font-size: xx-large;

        .logo-img {
            width: 40px;
        }
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;

        .sale-link {
            color: red;
        }
    }

    .admin-section {
        display: flex;
        gap: 10px;
        list-style-type: none;

        a {
            color: #1d1b1b;
            ;
        }
    }
}