// .item-details {
//     display: flex;

//     .left-details {
//         flex: 1;
//         padding: 10px;
//     }

//     .right-details {
//         flex: 1;
//         padding: 10px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: flex-start;


//         p {
//             text-align: left;
//             max-width: 400px;
//         }

//         .sale-price {
//             font-size: 20px;

//             span {
//                 font-size: 15px;
//             }

//         }
//     }

//     .add-to-cart {
//         margin-top: 10px;
//         padding: 10px;
//         color: #323030;
//         border: none;
//         cursor: pointer;
//     }

//     .delete-button {
//         margin-top: 10px;
//         padding: 10px;
//         color: #323030;
//         border: none;
//         cursor: pointer;
//         display: flex;
//         align-items: center;
//     }

//     .next-prev-buttons {
//         display: flex;
//         justify-content: space-between;
//     }

//     .out-of-stock {
//         color: red;
//         font-weight: bold;
//     }

//     .sale-price {
//         color: green;
//     }
// }

.item-details {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    .left-details {
        flex: 1;
        width: 40%;
    }

    .right-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        h3 {
            margin-top: 0;
        }

        p {
            text-align: left;
            max-width: 400px;
        }

        .sale-price {
            font-size: 20px;

            span {
                font-size: 15px;
            }

            color: green; // Apply green color directly to sale price
        }

        .add-to-cart {
            margin-top: 10px;
            padding: 10px;
            color: #fcf8f8;
            border: none;
            cursor: pointer;
            background-color: #312f2f; // Adding a background color for better visibility
            width: 100%; // Take full width on mobile
        }

        .out-of-stock {
            color: red;
            font-weight: bold;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .left-details {
            order: 1; 
        }

        .right-details {
            order: 2;  
        }
    }
}