.category-title {
    color: #6d6e71;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.25rem;
}

.item-explore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}