.item-edit-modal {
    padding: 20px;
    margin: 40px;
   
    .close-modal-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #000;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            font-weight: bold;
        }

        input[type='text'],
        input[type='number'],
        textarea,
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }

        input[type='checkbox'] {
            margin-right: 5px;
        }

        button[type='submit'] {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s;
        }

        button[type='submit']:hover {
            background-color: #0056b3;
        }
    }
}
