.order-preview {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  p {
    margin: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 5px;
  }

  button {
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  button:hover {
    background-color: #d32f2f;
  }
}

.order-preview:nth-child(even) {
  background-color: #f3f3f3;
}