.home-page {
    .hero-container {
        object-fit: cover;
        min-height: 70vh;
        max-width: 1400px;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 1s ease 0s;
        margin: 30px auto;
    }

    .shop-categories {
        font-size: 24px;
    }

    .categories {
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
        max-width: 1400px;

        .category {
            font-size: large;
            color: #181818;
            text-align: center;

            p {
                color: #181818;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: text-decoration 0.2s;
            }

            p:hover {
                text-decoration: underline;
            }

            img {
                width: 600px;
                height: 602px;
            }
        }
    }
}

@media screen and (max-width: 1290px) {

    .home-page .categories {
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-evenly;
        max-width: 990px;

        .category img {
            width: 440px;
            height: 442px;
        }
    }
}

@media screen and (max-width: 720px) {
    .home-page .category img.category-img {
        width: 340px;
        height: 342px;
    }
}