.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69vh;
  
    .welcome {
      text-align: center;
    }
  
    .login-form {
      width: 300px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
  
      p {
        margin-bottom: 10px;
      }
  
      .input-field {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
      }
  
      .submit-button,
      .logout-button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        outline: none;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      .submit-button {
        margin-top: 10px;
      }
  
      .logout-button {
        margin-top: 20px;
      }
  
      p {
        color: green;
      }
  
      .login-failed {
        color: red;
      }
    }
  }
  